.ecosystem,
.exchange_real_estate {
  .mySwiperEx {

    .swiper-button-next,
    .swiper-button-prev {
      opacity: 0;
      transition: opacity .3s ease;
      top: 34%;
    }

    &:hover {

      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;

      }
    }
  }
}

.exchange_real_estate {

  a {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ececec;
    border-radius: 8px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    padding: 15px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 4px 16px 0px rgba(34, 33, 33, 0.12);
    }

    img {
      height: 100%;
      object-fit: contain;
      transition: .3s ease;
    }
  }
}