.ant-checkbox-wrapper {

  .ant-checkbox {
    position: relative;

    .ant-checkbox-inner {
      height: 20px;
      width: 20px;
      border-color: #BDBDBD !important;

      &::after {
        inset-inline-start: 28.5%;
      }
    }
  }

  &-checked {
    .ant-checkbox {
      .ant-checkbox-inner {
        background-color: #d1132a !important;
        border-color: #d1132a !important;
      }
    }


    &:hover {
      .ant-checkbox {
        &::after {
          border-color: #d1132a !important;
        }
      }
    }
  }
}